#xcode proj files
*/*.xcodeproj/**
*/*.pbxproj
*.xcworkspace/**
xcuserdata/**
*/*.plist/**

#DS_store
.DS_Store/**

#bin files as well
*.o
*.exe
*.sln

#directories with bin and lib as well
bin/**



